header{
    background-image: url(u1.jpg);
    background-size:1495px;
    background-repeat: no-repeat;
    mix-blend-mode: color;

}.contacts{
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: skyblue;
}
  
  header nav ul.nav { 
    display: flex; 
    justify-content: space-evenly;
    align-items: right;
    height: 50px;
    background-color: white;
}
.ad{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 700px;
    width:1500px;
    background-image: url('');
    background-repeat: no-repeat;
    background-size:cover;
}
.sbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    color: white;
    
}
.img1{
    background-image: url(c1.jpg);
    background-size: 150px;
    background-repeat: no-repeat;
    margin-right: 100px;
    margin-left: 50px;
}
.img2{
    background-image: url(c2.jpg);
    background-size: 150px;
    background-repeat: no-repeat;
    margin-right: 100px;
}
.img3{
    background-image: url(c3.jpg);
    background-size: 190px;
    background-repeat: no-repeat;
    margin-right: 100px;
}
.img4{
    background-image: url(c4.jpg);
    background-size: 150px;
    background-repeat: no-repeat;
    margin-right: 100px;
}
.img5{
    background-image: url(c6.jpg);
    background-size: 180px;
    background-repeat: no-repeat;
    margin-right: 100px;
}
.img6{
    background-image: url(c7.jpg);
    background-size: 190px;
    background-repeat: no-repeat;
}
 
.container{
     display: inline-block;
    justify-content: center;
    align-items: center;
     
     
}
 
.img-container{
display:flex;
justify-content: center;
padding-right: 100px;
 
}
.ty{

    background-image: url('jpg');
     
}
.type{
    display: flex;
    justify-content: center;
    align-items: center;
     
     
}
.th{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}